In [1]:
import pandas as pd
import numpy as np

In [3]:
dict1 ={
    "Nombre":["Ringo", "John", "Paul", "George", "Yoko"],
    "Edad":[45,34,42,38,47],
    "Salario":[12000,14000,13000,11000,10000],
    "Genero":["M","M","M","M","F"]    
}

In [4]:
data = pd.DataFrame(dict1)

In [5]:
data

   Nombre  Edad  Salario Genero
0   Ringo    45    12000      M
1    John    34    14000      M
2    Paul    42    13000      M
3  George    38    11000      M
4    Yoko    47    10000      F

In [9]:
print("La media de los salarios es: ",data["Salario"].mean())
print("La mediana de los salarios es: ",data["Salario"].mean())
print("La desviación estandar de los salarios es: ",data["Salario"].std())

La media de los salarios es:  12000.0
La mediana de los salarios es:  12000.0
La desviación estandar de los salarios es:  1581.1388300841897